// Specific CSS for your home-page
body {
  background-color: white;
  font-family: "Montserrat";
  margin: 0 !important;
}

.home-background {
  background-image: asset-url("background.png");
  background-size: cover;
  height: 300px;
  width: 100vw;
  position: relative;
}

.side-image {
  width: 480px;
  position: absolute;
  top: 100px;
  left: 70px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
}

.banner-slogan {
  position: absolute;
  top: 120px;
  left: 620px;

  .text {
    font-family: "Titillium Web";
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 0;
  }
}

.intro-slogan {
  font-family: "Qwigley";
  font-size: 64px;
  padding-top: 64px;
}

.intro-paragraph-container {
  width: 80% !important;
}

.intro-paragraph {
  font-family: "Montserrat";
  font-size: 16px;
  padding: 4px 20px;
}

.section-title {
  font-family: "Titillium Web";
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 0;
}

.content {
  margin: 280px 50px;
}