.row {
  margin: 0 !important;
  padding: 0 !important;
}

// Import page-specific CSS files here.
@import "home";
@import "about";
@import "contact";


html,
body {
  height: 100%;
  margin: 0;
}

p {
  font-family: 'Montserrat';
  font-size: 16px;
}

a {
  text-decoration: none;
  color: $gray;

  &:hover {
    color: $yellow;
  }
}

.wrapper {
  min-height: calc(100vh - 70px);
}

.link {
  text-decoration: none;
  color: $gray;

  &:hover {
    color: $yellow;
  }
}

.btn-yellow {
  border: 1px solid $yellow;
  border-radius: 2px;

  &:hover {
    background-color: $yellow;
    border: 1px solid $yellow;
  }
}

@media (max-width: 480px) {
  .wrapper {
      min-height: calc(100vh - 40px);
    }

  .container {
    margin: 0 !important;
    padding: 0 !important;
  }

  p {
    font-size: 14px;
  }
}