<%= link_to post_path(post), class: "text-decoration-none" do %>
  <div class="post-preview-xs row">
    <div class="col-3 col-sm-4 image" style="background-image: url('<%= cl_image_path post.photo&.key, height: 100, crop: :fill %>')">
    </div>
    <div class="col-7 col-sm-8">
      <p class="post-title"><%= post.title %> ></p>
      <p class="post-date"><%= post.created_at.strftime("%b %e, %Y") %></p>
    </div>
  </div>
<% end %>
